body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
}

#music-image {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

#progress .times, 
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress-bar::-webkit-slider-thumb {
  background-color: gray;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#progress-bar::-moz-range-thumb {
  background-color: gray;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.volume-container i {
    color: #555;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.volume-container i:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#volume-bar::-webkit-slider-thumb {
  background-color: gray;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#volume-bar::-moz-range-thumb {
  background-color: gray;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

#controls i,
#controls button {
    transition: transform 0.3s ease;
}

#controls i:hover,
#controls button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#shuffle, #repeat {
    font-size: 1.2rem;
    color: #555;
    padding: 10px;
}